<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abacusproject.board.dao.BoardDao">

    <!-- 게시글 작성 -->
    <insert id="create" parameterType="com.abacusproject.board.dto.CreateBoardRequest">
        INSERT INTO tb_board (TITLE,
                              CONTENT,
                              WRITER,
                              PASSWORD,
                              VIEW_COUNT,
                              INSERT_DATE)
        VALUES (
                #{title},
                #{content},
                #{writer},
                #{password},
                0,
                NOW()
               )
    </insert>

    <!-- 게시글 조회 시 조회 수 증가-->
    <update id="updateViewCount" parameterType="int">
        UPDATE tb_board
        SET
            VIEW_COUNT = VIEW_COUNT + 1
        WHERE ID = #{boardId}
    </update>

    <!-- 게시글 단건 조회 -->
    <select id="getBoard" parameterType="int" resultType="com.abacusproject.board.bean.BoardBean">
        SELECT
            ID as boardId,
            TITLE as title,
            CONTENT as content,
            WRITER as writer,
            VIEW_COUNT as viewCount
        FROM tb_board
        WHERE ID = #{boardId}
    </select>

    <!-- 게시글 전체 조회-->
    <select id="getBoardList" parameterType="com.abacusproject.board.bean.BoardPageBean" resultType="com.abacusproject.board.bean.BoardListBean">
        SELECT
            ID as boardId,
            TITLE as title,
            WRITER as writer,
            VIEW_COUNT as viewCount
        FROM tb_board
        ORDER BY INSERT_DATE DESC
        LIMIT #{startPage}, #{pageSize}
    </select>


    <select id="findAll" parameterType="com.abacusproject.board.dto.PagingDto" resultType="com.abacusproject.board.bean.BoardListBean">
        SELECT
        ID as boardId,
        TITLE as title,
        WRITER as writer,
        VIEW_COUNT as viewCount
        FROM tb_board
        WHERE
        INSERT_DATE IS NOT NULL
        <include refid="search"></include>
        ORDER BY
        <if test="orderBy != null and orderBy != ''">
            <choose>
                <when test="'insert_date'.equals( orderBy )">
                    INSERT_DATE DESC,
                </when>
                <when test="'view_count'.equals( orderBy )">
                    VIEW_COUNT DESC,
                </when>
            </choose>
        </if>
            INSERT_DATE DESC
        LIMIT #{pagination.limitStart}, #{recordSize}
    </select>

    <!-- 게시글 전체 조회 페이징 조회순 -->
    <select id="findAllByViewCount" parameterType="com.abacusproject.board.dto.PagingDto" resultType="com.abacusproject.board.bean.BoardListBean">
        SELECT
            ID as boardId,
            TITLE as title,
            WRITER as writer,
            VIEW_COUNT as viewCount
        FROM tb_board
        WHERE
            INSERT_DATE IS NOT NULL
            <include refid="search"></include>
        ORDER BY VIEW_COUNT DESC, INSERT_DATE DESC
        LIMIT #{pagination.limitStart}, #{recordSize}
    </select>


    <!-- 게시글 검색 -->
    <sql id="search">
        <if test="keyword != null and keyword != ''">
            <if test="searchType != null and searchType != ''">
                <choose>
                    <when test="'title'.equals( searchType )">
                        AND title LIKE CONCAT('%', #{keyword}, '%')
                    </when>
                    <when test="'writer'.equals( searchType )">
                        AND writer LIKE CONCAT('%', #{keyword}, '%')
                    </when>
                    <when test="'content'.equals( searchType )">
                        AND content LIKE CONCAT('%', #{keyword}, '%')
                    </when>
                </choose>
            </if>
        </if>
    </sql>

    <!-- 게시글 수 카운팅 -->
    <select id="count" parameterType="com.abacusproject.board.dto.PagingDto" resultType="int">
        SELECT
        COUNT(*)
        FROM tb_board
        WHERE
        INSERT_DATE IS NOT NULL
        <include refid="search"></include>
    </select>

    <!-- 게시글 비밀번호 조회 -->
    <select id="getPassword" parameterType="int" resultType="java.lang.String">
        SELECT
            PASSWORD
        FROM tb_board
        WHERE ID = #{boardId}
    </select>

    <!-- 게시글 수정 -->
    <update id="updateBoard" parameterType="com.abacusproject.board.dto.UpdateBoardDto">
        UPDATE tb_board
        SET
            CONTENT = #{content},
            INSERT_DATE = NOW(),
            UPDATE_DATE = NOW()
        WHERE ID = #{boardId}
    </update>

    <!-- 게시글 삭제 -->
    <delete id="deleteBoard" parameterType="int">
        DELETE
        FROM tb_board
        WHERE ID = #{boardId}
    </delete>
</mapper>
